@{
    Layout = "_Layout";
}

<form action="/cuisines/create" method="post">
 <label for="name">Cuisine Name:</label>
 <input required id="name" name="name" type="text"><br>
 <label for="description">Description:</label>
 <input required id="description" name="description" type="text"><br>
 <button type="submit">Save Cuisine</button>
</form>