@using BestRestaurants.Models;

@{
    Layout = "_Layout";
}

<h3>@Model.GetName() Food</h3>
<p>@Model.GetDescription()</p>

<form method="get" action="/cuisines/@Model.GetId()/edit">
    <button type="submit">Edit</button>
</form>


<form method="post" action="/cuisines/@Model.GetId()/delete">
    <button type="submit">Delete</button>
</form>

<h4>Restaurants Serving This Cuisine</h4>
@if(Model.GetRestaurants().Count < 1)
{
    <p>There are no restaurants to display!</p>
}
else
{
    <ul>
        @foreach(Restaurant restaurant in Model.GetRestaurants())
        {
            <li><a href="/cuisines/@restaurant.GetCuisineId()/restaurants/@restaurant.GetId()">@restaurant.GetName()</a></li>
        }
    </ul>
}
<a href="/cuisines/@Model.GetId()/restaurants/new">Add a new restaurant for this cuisine...</a>