@using BestRestaurants.Models;

@{
    Layout = "_Layout";
}

<form action="/cuisines/@Model.GetCuisineId()/restaurants/@Model.GetRestaurantId()/reviews/@Model.GetId()/edit" method="post">
 <label for="reviewText">Review:</label>
 <input required id="reviewText" name="reviewText" type="text" value="@Model.GetReviewText()"><br>

 <!-- <input hidden value="@Model.GetId()" name="reviewId">
 <input hidden value="@Model.GetRestaurantId()" name="reviewId"> -->
 <button type="submit">Save Review</button>
</form>