

<form action="/cuisines/@Model[0]/restaurants/@Model[1]/reviews" method="post">
 <label for="reviewText">Restaurant Review:</label>
 <input required id="reviewText" name="reviewText" type="text"><br>
 <button type="submit">Save Review</button>
</form>