<h1>Internet Restaurant Database</h1>
<form action="/search" method="post">
    <label for="search">Search Restaurants:</label>
    <input name="search" id="search" type="text">
    <button type="submit">Search!</button>
</form>