<form action="/cuisines/@Model/restaurants" method="post">
 <label for="name">Restaurant Name:</label>
 <input required id="name" name="name" type="text"><br>
 <label for="address">Address:</label>
 <input required id="address" name="address" type="text"><br>
 <button type="submit">Save Restaurant</button>
</form>