@using BestRestaurants.Models;
@using System;
@using System.Collections.Generic;

@{
    Layout = "_Layout";
}

<!-- <h1>Search Results</h1>

@if(Model.Count < 1)
{
    <p>Your search returned no results!</p>
}
else
{
    <ul>
        @foreach(Restaurant restaurant in Model)
        {
            <li><a href="/cuisines/@restaurant.GetCuisineId()/@restaurant.GetId()">@restaurant.GetName()</li>
        }
    </ul>
} -->