@using BestRestaurants.Models;

@{int cuisineId = Model.GetCuisineId();}

<h1>@Model.GetName()</h1>
<p>@Model.GetAddress()</p>
<a href="/cuisines/@Model.GetCuisineId()/restaurants/@Model.GetId()/edit">Edit</a>

<h3>Reviews for this Restaurant</h3>
@if(Model.GetReviews().Count < 1)
{
    <p>There are no reviews to display!</p>
}
else
{
    <ul>
        @foreach(Review review in Model.GetReviews())
        {
            <li>@review.GetReviewText()</li>
            <a href="/cuisines/@cuisineId/restaurants/@Model.GetId()/reviews/@review.GetId()/edit">Edit</a>
        }
    </ul>
}
<a href="/cuisines/@Model.GetCuisineId()/restaurants/@Model.GetId()/reviews/new">Add a new review for this restaurant...</a>